.command {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  margin: 0 4px 8px 0;
  vertical-align: middle;
}

.command.stick-up {
  background-image: url(../img/buttons/stick/U.png);
  height: 37px;
  width: 37px;
}
.command.stick-down {
  background-image: url(../img/buttons/stick/D.png);
  height: 37px;
  width: 37px;
}
.command.stick-back {
  background-image: url(../img/buttons/stick/B.png);
  height: 37px;
  width: 37px;
}
.command.stick-forward {
  background-image: url(../img/buttons/stick/F.png);
  height: 37px;
  width: 37px;
}
.command.stick-up-forward {
  background-image: url(../img/buttons/stick/Uf.png);
  height: 37px;
  width: 37px;
}
.command.stick-up-back {
  background-image: url(../img/buttons/stick/Ub.png);
  height: 37px;
  width: 37px;
}
.command.stick-down-forward {
  background-image: url(../img/buttons/stick/Df.png);
  height: 37px;
  width: 37px;
}
.command.stick-down-back {
  background-image: url(../img/buttons/stick/Db.png);
  height: 37px;
  width: 37px;
}
.command.stick-half-circle-back {
  background-image: url(../img/buttons/stick/Hcb.png);
  height: 37px;
  width: 37px;
}
.command.stick-half-circle-forward {
  background-image: url(../img/buttons/stick/Hcf.png);
  height: 37px;
  width: 37px;
}
.command.stick-quarter-circle-back {
  background-image: url(../img/buttons/stick/Qcb.png);
  height: 37px;
  width: 37px;
}
.command.stick-quarter-circle-forward {
  background-image: url(../img/buttons/stick/Qcf.png);
  height: 37px;
  width: 37px;
}
.command.stick-dragon-punch {
  background-image: url(../img/buttons/stick/Dp.png);
  height: 37px;
  width: 37px;
}
.command.stick-reverse-dragon-punch {
  background-image: url(../img/buttons/stick/Rdp.png);
  height: 37px;
  width: 37px;
}
.command.stick-neutral {
  background-image: url(../img/buttons/stick/N.png);
  height: 37px;
  width: 37px;
}

.command.ssf4-jab {
  background-image: url(../img/buttons/ssf4/Jab.gif);
  height: 20px;
  width: 21px;
}
.command.ssf4-strong {
  background-image: url(../img/buttons/ssf4/Strong.gif);
  height: 20px;
  width: 21px;
}
.command.ssf4-fierce {
  background-image: url(../img/buttons/ssf4/Fierce.gif);
  height: 20px;
  width: 21px;
}
.command.ssf4-short {
  background-image: url(../img/buttons/ssf4/Short.gif);
  height: 20px;
  width: 21px;
}
.command.ssf4-forward {
  background-image: url(../img/buttons/ssf4/Forward.gif);
  height: 20px;
  width: 21px;
}
.command.ssf4-roundhouse {
  background-image: url(../img/buttons/ssf4/Roundhouse.gif);
  height: 20px;
  width: 21px;
}
.command.ssf4-three-punch {
  background-image: url(../img/buttons/ssf4/3p.png);
  height: 25px;
  width: 60px;
}
.command.ssf4-three-kick {
  background-image: url(../img/buttons/ssf4/3k.png);
  height: 25px;
  width: 60px;
}
.command.ssf4-kick {
  background-image: url(../img/buttons/ssf4/K.png);
  height: 25px;
  width: 25px;
}
.command.ssf4-punch {
  background-image: url(../img/buttons/ssf4/P.png);
  height: 25px;
  width: 25px;
}

.command.umvc3-light {
  background-image: url(../img/buttons/umvc3/L.png);
  height: 20px;
  width: 21px;
}
.command.umvc3-medium {
  background-image: url(../img/buttons/umvc3/M.png);
  height: 20px;
  width: 21px;
}
.command.umvc3-heavy {
  background-image: url(../img/buttons/umvc3/H.png);
  height: 20px;
  width: 21px;
}
.command.umvc3-special {
  background-image: url(../img/buttons/umvc3/S.png);
  height: 20px;
  width: 21px;
}
.command.umvc3-attack {
  background-image: url(../img/buttons/umvc3/Atk.png);
  height: 20px;
  width: 21px;
}
.command.umvc3-assist-1 {
  background-image: url(../img/buttons/umvc3/A1.png);
  height: 20px;
  width: 21px;
}
.command.umvc3-assist-2 {
  background-image: url(../img/buttons/umvc3/A2.png);
  height: 20px;
  width: 21px;
}

.command.separators-plus {
  height: 20px;
  text-align: center;
  width: 16px;
}
.command.separators-plus:before {
  content: '+';
  font-size: 18px;
}
.command.separators-comma {
  height: 25px;
  text-align: center;
  width: 10px;
}
.command.separators-comma:before {
  content: ',';
  font-size: 18px;
}
.command.separators-open-parens {
  height: 25px;
  text-align: center;
  width: 15px;
}
.command.separators-open-parens:before {
  content: '(';
  font-size: 18px;
}
.command.separators-close-parens {
  height: 25px;
  text-align: center;
  width: 15px;
}
.command.separators-close-parens:before {
  content: ')';
  font-size: 18px;
}

.preview {
  border: 2px solid #999;
  min-height: 200px;
  padding: 8px;
}
