<!DOCTYPE html>

<html lang="en" ng-app="gdlk">
  <head>
    <title>GDLK READ</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gdlk.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">GDLK READ</a>
      </div>

      <ul class="nav navbar-nav">
        <li><a href="#/combos">Combos</a></li>
        <li><a href="#/notes">Notes</a></li>
        <li><a href="#/videos">Videos</a></li>
      </ul>
    </nav>

    <main>
      <section class="content" ui-view>
      </section>
    </main>

    <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-ui-router/release/angular-ui-router.js') }}"></script>

    <script src="{{ url_for('static', filename='js/gdlk.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home/home-controller.js') }}"></script>

    <script src="{{ url_for('static', filename='js/combos/combos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/combos/combo-service.js') }}"></script>
    <script src="{{ url_for('static', filename='js/combos/list-controller.js') }}"></script>
  </body>
</html>
